<!DOCTYPE html>
<html>
<head>
  <title>YelpClone</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!-- Dropdown Structure -->
<% if current_user %>
  <ul id="dropdown1" class="dropdown-content">
    <li><%= link_to 'Edit Account', edit_user_path(current_user) %></li>
    <li><%= link_to 'View Account', user_path(current_user) %></li>
    <li class="divider"></li>
    <li><%= link_to 'Logout', logout_path%></li>
  </ul>
<% end %>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <% if !current_user %>
        <li><%= link_to 'Sign Up', signup_path %></li>
        <li><%= link_to 'Log In', login_path %></li>
      <% end %>
      <li><%= link_to 'Discover', businesses_path %></li>
      <li><a href="badges.html">Search</a></li>
      <!-- Dropdown Trigger -->
      <% if current_user %>
        <li><a class="dropdown-button" data-activates="dropdown1">Account<i class="material-icons right">arrow_drop_down</i></a></li>
      <% end %>
    </ul>
  </div>
</nav>

<% flash.each do |key, value| %>
  <%= content_tag(:div, class: "alert alert-#{key}") do %>
    <p><%= value %></p>
  <% end %>
<% end %>

<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
